html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

body {
    margin: 0;
    padding: 0;
    }

.title {
    font-size: 44px;
    font-weight: bold;
    color: #6e2323;
    }